.charsheet {
	  background-color: #ddd;
    width: 842px !important;
		min-width: 842px; /* Set the min-width so that when the window is resized the look will stay consistant */
    margin: 0 auto !important;
    line-height: 18px;
}

.sheet-inactive-color {
	background-color: #ddd;
}

.sheet-active-color {
	background-color: #eee;
}

img {
	height: 60%;
}
label {
	font-weight: normal;
}
input {
	text-align: right;
}
h2 {
	padding-right: 1px;
	padding-top: 10px;
}
h3 {
    line-height: 27px;
    width: 100%;
    font-size: 17px;
    text-align: center;
    margin: 0 0 10px;
    padding: 0;
    text-transform: uppercase;
}
select {
    margin-bottom: 0;
}
h3::after, h3::before, h4::after, h4::before {
    display: inline-block;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #000;
   /*   width: 80px; */
}
h3::after {
    margin: 0 0 5px 20px;
}
h3::before {
	margin: 0 20px 5px 0;
}
h4 {
	font-weight: normal;
	font-size: 15px;
	text-align: center;
}
.sheet-small-font {
	font-size: 10px;
}
.sheet-big-font {
	font-size: 17px;
}
.sheet-italic-font, h4 {
	font-style: italic;
}
.sheet-bold-font {
	font-weight: bold;
}
.sheet-left-pad {
		padding-left: 10px
}
.sheet-sm-textarea {
	height: 50px;
		width:  180px;
}
.sheet-lrg-textarea {
	height: 450px;
}
.repitem {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    justify-content: space-between;
}
.sheet-flex-between {
		display: flex;
	  justify-content: space-evenly;
}

.sheet-center {
	text-align: center;
	align-items: center;
	align-content: center;
}
.sheet-block, .sheet-block-left {
	display: block;
	padding: 1px;
}
.sheet-block-between {
	justify-content: space-between;
}
.sheet-padding {
	padding: 2px;
}
.sheet-inline {
	display: inline;
	align-items: start;
	padding: 1px;
}
.sheet-inline-flex {
	display: inline-flex;
	align-items: start;
}
.sheet-flow {
	display: flow-root;
}
.sheet-fill-width {
	width: 100%;
}
.sheet-flex-simple {
	display: flex;
}
.sheet-flex {
	display: flex;
    align-items: start;
}
.sheet-col-1, .sheet-col-2, .sheet-thick-border, .sheet-thin-border, .sheet-thin-border-no-pad .sheet-noborder, .sheet-thick-border-no-pad {
	box-sizing: border-box;
}
.sheet-thin-border-no-pad, .sheet-thin-border {
	border: 2px solid;
	overflow: auto;
	margin-bottom: 0px;
}
.sheet-thin-border {
	padding-top: 5px;
}
.sheet-thick-border, .sheet-thick-border-no-pad {
	border: 4px solid;
	overflow: auto;
	margin-bottom: 10px;
}
.sheet-noborder, .sheet-thick-border, .sheet-side-padding {
  padding-left: 5px;
	padding-right: 5px;
}
.sheet-bottom-padding, .sheet-noborder, .sheet-thick-border {
	padding-bottom: 5px;
}
.sheet-header-left {
	width: 75%;
}
.sheet-header-right {
	width: 25%;
}
.sheet-col-left {
	width: 49%;
}
.sheet-col-right {
    width: 49%;
}
.sheet-col-left-left{
	width: 67%;
	}
.sheet-col-left-right {
	width: 31%;
}
.sheet-save-col {
	flex-direction: column;
}
.sheet-logo {
    margin: 12px auto;
    display: block;
}
input[type=checkbox], input[type=radio] {
	  padding-left:5px;
    padding-right:5px;
    border-radius:12px;
    -webkit-appearance:button;
    border: double 2px #00F;
    color:#FFF;
    white-space: nowrap;
    overflow:hidden;
    width:15px;
    height:15px;
    vertical-align: middle;
    border: 1px solid #111;
		outline: inherit;
    cursor: pointer;
		margin-left: 3px;
		margin-right: 3px;
}
input[type=checkbox]:checked, input[type=radio]:checked {
    background-color:#800;
    border-left-color:#06F;
    border-right-color:#06F;
}
input[type=checkbox]:hover {
    box-shadow:0px 0px 10px #1300ff;
}
.sheet-checkbox-round:checked {
    background-color: black;
}
input {
    border-radius: 0;
    border: 1px solid;
}
input[type=number] {
    -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* INFO BLOCK */
.sheet-info-name {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.sheet-info-name input {
    flex: 1 1 0;
    margin: 0 1%;
}
.sheet-info-row {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.sheet-info-row input {
    text-align: left;
}
.sheet-info1 {
    width: 11%;
}
.sheet-info2 {
    width: 20%;
}
.sheet-info3 {
	width: 32%;
}
.sheet-info4 {
	width: 52%;
}
.sheet-info5 {
	width: 93%;
}
.sheet-bottom-line {
    border: none;
    border-bottom: 1px solid;
}
.sheet-ability-column-value, .sheet-combat-opts-value {
		width: 30%;
}
.sheet-align-left, .sheet-combat-opts-column-value {
	text-align: left;
	align-items: flex-start;
}
.sheet-align-right {
	text-align: right;
	align-items: flex-start;
}
.sheet-align-start {
	align-self: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}
/* Abilities */
.sheet-ability-column-value {
		height: 90px;
		text-align: center;
		font-weight: bold;
}
.sheet-ability-column-modifier {
    width: 54%;
    height: 90px;
    align-items: center;
    font-weight: bold;
}
.sheet-ability-column-roll {
    width: 16%;
    height: 90px;
}
input[type=number].sheet-ability-modifier {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    padding: 0;
}
.sheet-subtext {
    width: 138px;
}
input[type=number].sheet-ability-value {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 6px auto;
}
button[type=roll].sheet-ability-button {
    width: 40px;
    height: 40px;
    font-size: 26px;
    background-color: white;
    background-image: none;
	  padding: 1px;
    color: black;
    text-shadow: none;
    margin: auto;
    display: block;
}
input[type=number].sheet-ability-check-value {
    width: 40px;
    height: 40px;
		align-self: auto;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 6px auto;
}
.sheet-ability-check-label {
	  text-align: center;
		font-weight: bold;
}

span.sheet-spacer {
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Tabbing */
/* Main Sheet Tabs */

div[class^="sheet-section"] {
        display: none;
}

input.sheet-tab1:checked ~ div.sheet-section-core,
input.sheet-tab2:checked ~ div.sheet-section-combat,
input.sheet-tab3:checked ~ div.sheet-section-magic,
input.sheet-tab4:checked ~ div.sheet-section-inventory,
input.sheet-tab5:checked ~ div.sheet-section-notes {
        display: block;
}

input.sheet-tab {
        width: 87px;
        height: 20px;
        cursor: pointer;
        position: relative;
        opacity: 0;
        z-index: 9999;
}

span.sheet-tab {
        text-align: center;
        display: inline-block;
        font-size: 13px;
        background: #4a6486;
        color: white;
        font-weight: bold;
        border-radius: 4px;
        width: 87px;
        height: 20px;
        cursor: pointer;
        position: relative;
        margin-left: -90px;
}

input.sheet-tab1:checked + span.sheet-tab1,
input.sheet-tab2:checked + span.sheet-tab2,
input.sheet-tab3:checked + span.sheet-tab3,
input.sheet-tab4:checked + span.sheet-tab4,
input.sheet-tab5:checked + span.sheet-tab5 {
        background: #ab8b57;
        color: white;
        border-radius: 4px;
}

input.sheet-skillname {
	width: inherit;
	font-weight: bold;
	overflow-x: auto;
}

/* Spells */
.sheet-spells .repitem {
    margin: 0;
    width: 49.8%;
    display: block;
}
.sheet-spellcontainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4px;
    align-items: center;
    border: 2px solid black;
    padding: 2px;
    justify-content: flex-start;
    align-content: start;
}
.sheet-spells .repcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sheet-spell-name {
    width: 59%;
    font-weight: bold;
		text-align: left;
}

.sheet-spell-prepared,
.sheet-spell-duration,
.sheet-spell-range {
	text-align: left;
}
.sheet-spell-level {
    width: 6%;
    text-align: center;
}
input[type=number].sheet-spell-prepared {
    width: 23px;
}
.sheet-spell-duration {
    width: 31%;
}
.sheet-spell-range {
    width: 23%;
}
.sheet-spell-description {
    resize: vertical;
    box-sizing: border-box;
    border-radius: 0;
    height: 5px;
    margin-bottom: 0;
    min-height: 5px;
}
.sheet-spells-per-level {
    align-items: center;
    font-weight: bold;
    margin: 0 0 12px;
}
.sheet-spells-per-level > div {
    align-items: center;
    width: 82px;
}
.sheet-spells-per-level input[type=number] {
    border-radius: 3px;
    width: 2em;
    padding: 1px 4px;
    border: 1px solid #ccc;
}
.sheet-spellfilter, .sheet-hidden-spell-level {
    display: none;
}
.sheet-spellfilter[value="1"]:checked ~ div .sheet-hidden-spell-level[value="1"]:not(:checked) ~ .sheet-spellcontainer,
.sheet-spellfilter[value="2"]:checked ~ div .sheet-hidden-spell-level[value="2"]:not(:checked) ~ .sheet-spellcontainer,
.sheet-spellfilter[value="3"]:checked ~ div .sheet-hidden-spell-level[value="3"]:not(:checked) ~ .sheet-spellcontainer,
.sheet-spellfilter[value="4"]:checked ~ div .sheet-hidden-spell-level[value="4"]:not(:checked) ~ .sheet-spellcontainer,
.sheet-spellfilter[value="5"]:checked ~ div .sheet-hidden-spell-level[value="5"]:not(:checked) ~ .sheet-spellcontainer,
.sheet-spellfilter[value="6"]:checked ~ div .sheet-hidden-spell-level[value="6"]:not(:checked) ~ .sheet-spellcontainer,
.sheet-spellfilter[value="7"]:checked ~ div .sheet-hidden-spell-level[value="7"]:not(:checked) ~ .sheet-spellcontainer,
.sheet-spellfilter[value="8"]:checked ~ div .sheet-hidden-spell-level[value="8"]:not(:checked) ~ .sheet-spellcontainer,
.sheet-spellfilter[value="9"]:checked ~ div .sheet-hidden-spell-level[value="9"]:not(:checked) ~ .sheet-spellcontainer {
    display: none;
}
.sheet-spell-filters {
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    margin-bottom: 10px;
}
.sheet-filter-button {
    width: 50px;
    font-size: 1em;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.sheet-filter-button input[type=radio] {
    margin-right: 3px;
}
.sheet-filter-button span {
    vertical-align: middle;
}

.sheet-weapon-name {
	width: 75%;
    font-weight: bold;
		text-align: left;
	}
.sheet-weapon-dam {
	width: 15%;
	text-align: center;
}
/* Inventory */
.sheet-table-cell {
	text-align: left;
}
.sheet-table-header-cell {
	font-weight: bold;
	padding: 2px;
	text-align: center;
}
.sheet-table-sep-row {
	background: #000;
	height: 1px;
}
.sheet-item-name, .sheet-container-item {
  text-align: left;
}
.sheet-item-dex {
  text-align: center;
	width: 2px;
}
.sheet-item-name-header, .sheet-item-name, .sheet-container-item {
	font-weight: bold;
	font-size: 17px
}
.sheet-item-name-header, .sheet-item-name {
	width: 350px;
}
.sheet-container-item {
	width: 190px;
}
